doctype html

html(lang='en')
  head
    title

    link(rel='stylesheet', href='/styles.css')

    script(src='//cdn.webrtc-experiment.com/RTCMultiConnection.js')
    script(src='//cdn.webrtc-experiment.com/firebase.js')

  body
    main
      #videos
        button Call

script(src='/scripts.js')
