doctype html

html(lang='en')
  head
    title

    link(rel='stylesheet', href='/styles.css')
    link(rel='import', src='/broadcast.html')

    script(src='//cdn.webrtc-experiment.com/firebase.js')

  body
    main
      #videos

    script(src='/RTCMultiConnection.js')
    script(src='/scripts.js')
